<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>R Sandbox</string>
  <key>CFBundleExecutable</key>
  <string>r-sandbox</string>
  <key>CFBundleIdentifier</key>
  <string>org.mpg-age-bioinformatics.r-sandbox</string>
  <key>CFBundleIconFile</key>
  <string>RSandbox</string>
  <key>CFBundleName</key>
  <string>R Sandbox</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
